<%= form_with model: @product, local: true do |form| %>
<div align="center" class="acrylic shadow">
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
</div>
<% end %>